[access]
	inheritFrom = Private-Projects
[submit]
[access "refs/*"]
	owner = group user/ronnuriel
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/ronnuriel
	label-Verified = -1..+1 group user/ronnuriel
	push = group user/ronnuriel
	read = group user/ronnuriel
	rebase = group user/ronnuriel
	removeReviewer = group user/ronnuriel
	submit = group user/ronnuriel
[access "refs/heads/*"]
	create = group user/ronnuriel
	push = +force group user/ronnuriel
	pushMerge = group user/ronnuriel
	read = group user/ronnuriel
[access "refs/tags/*"]
	push = group user/ronnuriel
	push = +force group user/ronnuriel
